<div
  class="
    bg-gradient-to-r {{ types[0].fromBgColor }} {{
    types[types.length - 1].toBgColor
  }} 
  hover:shadow-lg shadow-md rounded-lg
  hover:scale-105 cursor-pointer ease-in-out duration-100
  mx-auto my-1
  max-w-sm sm:max-w-full
  "
>
  <div class="relative w-full">
    <div class="absolute w-full">
      <div class="card-header flex justify-between pl-5 pt-2">
        <div class="number text-gray-500">
          {{ temtem.number }}
        </div>
        <div
          class="card-header-buttons"
          *ngIf="temtem.lumaWikiPortraitUrlLarge !== ''"
        >
          <button
            class="mx-1 px-2 rounded-lg text-sm"
            [ngClass]="{ 'bg-white': !isLuma, 'bg-stone-400': isLuma }"
            (click)="isLuma = false"
          >
            Orig.
          </button>
          <button
            class="mx-1 px-2 rounded-lg text-sm"
            [ngClass]="{ 'bg-white': isLuma, 'bg-stone-400': !isLuma }"
            (click)="isLuma = true"
          >
            Luma
          </button>
        </div>
      </div>
    </div>
    <div class="card-image">
      <img
        class="w-full -mb-11"
        loading="lazy"
        [src]="
          !isLuma
            ? temtem.icon === ''
              ? temtem.wikiPortraitUrlLarge
              : environment.baseUrl + temtem.icon
            : temtem.lumaWikiPortraitUrlLarge
        "
        alt=""
      />
      <div
        class="bg-neutral-800 opacity-80 w-full text-center text-xl font-mono py-1 text-white"
      >
        {{ temtem.name }}
      </div>
    </div>
  </div>
  <div class="py-4 opacity-80 bg-white rounded-b-lg">
    <div class="bg-neutral-300/25">
      <div class="py-1 items-center font-mono">
        <div class="w-full text-center">
          {{ types.length > 1 ? "Types" : "Type" }}
        </div>
        <span class="flex justify-center">
          <app-type-badge
            *ngFor="let type of types; trackBy: typeTrackByFn"
            [type]="type"
          ></app-type-badge>
        </span>
      </div>
    </div>
  </div>
</div>
