<!-- <app-loading-animation *ngIf="temtemsList.length < 1"></app-loading-animation> -->
<app-loading-animation *ngIf="isLoading"></app-loading-animation>
<div
  *ngIf="!isLoading"
  class="grid gap-10 2xl:grid-cols-6 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-2 grid-cols-1 justify-evenly"
>
  <div
    class="col-span-full justify-self-center text-xl pt-10"
    *ngIf="temtemsList.length < 1"
  >
    No Results for {{ searchTerm$ | async }}
  </div>
  <app-temtem-card
    *ngFor="let temtem of temtemsList; trackBy: trackByFn"
    [temtem]="temtem"
    (click)="onTemtemClick(temtem)"
  ></app-temtem-card>
</div>
<app-single-temtem-view [temtem]="selectedTemtem"></app-single-temtem-view>
