<div class="temtem-body grid grid-cols-1 sm:grid-cols-4 gap-y-2 my-2 px-5">
  <div
    class=" col-span-1 self-center h-fit w-fit justify-self-center m-5 rounded-full border-4 border-amber-500 bg-gradient-to-r {{
      types[0].fromBgColor
    }} {{ types[types.length - 1].toBgColor }}"
  >
    <img
      class="rounded-full max-h-40 sm:max-h-60"
      loading="lazy"
      [src]="
        temtem && !isLuma
          ? temtem.icon === ''
            ? temtem.wikiPortraitUrlLarge
            : environment.baseUrl + temtem.icon
          : temtem?.lumaWikiPortraitUrlLarge
      "
      alt=""
    />
  </div>
  <div class="right sm:col-span-3 flex flex-col">
    <div class="types flex items-center pb-2">
      {{ types.length > 1 ? "Types" : "Type" }}:
      <app-type-badge
        *ngFor="let type of types; trackBy: typeTrackByFn"
        [type]="type"
      ></app-type-badge>
    </div>
    <div class="description sm:pr-3 pr-1">
      {{ temtem?.gameDescription }}
    </div>
    <!-- <div *ngIf="temtem?.evolution?.evolves" class="">Evolution:</div> -->
  </div>
</div>
